.header{
    position: relative;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: black;
    height: 145px;
    padding-top: 10px;
}
.header img{
    width: auto !important;
    height: 70% !important;
}
@media (max-width: 1024px) {
    .header{
        height: 90px;
    }
    .header img{
        height: 70% !important;
    }
}


.hr {
    border: none;           /* uklanja default border */
    height: 2px;            /* debljina linije */
    width: 100%;
    background: linear-gradient(
        to right,
        black 0%,      /* plava sa leve strane */
        #433df3 20%,        /* crna počinje na 40% */
        #433df3 80%,        /* crna završava na 70% */
        black 100%      /* plava na desnoj strani */
    );
    margin: 0;              /* po želji */
    position: absolute;
    bottom: 15px;
}
